.property-1-variant-21 .image-6 {
  background: url('../assets/images/image_6.png') 50% / cover no-repeat;
  position: absolute;
  top: 4px;
  right: 6px;
  width: 92px;
  height: 95px;
}
.property-1-variant-21 .image-7 {
  background: url('../assets/images/image_7.png');
  position: relative;
  width: 104px;
  height: 104px;
}
.property-1-variant-2 {
  display: flex;
  box-sizing: border-box;
}
